@media screen and (min-width: 768px) {

    .twitter-link:hover:before {
        opacity: .7;
    }

    .discover-link:hover {
        background-color: #399370;
    }

    .btn:not(:disabled):not(.loading):hover:after {
        width: 100%;
    }

    .btn:not(:disabled):not(.loading):hover  {
        color: #fff;
    }

    .menu li  a:not(.active):not(.logo):hover:before,
    .menu li  a:not(.active):not(.logo):hover:after {
        width: 100%;
    }

    .social-link:hover:before {
        transform: rotatey(180deg);
        -ms-transform: rotatey(180deg);
        -webkit-transform: rotatey(180deg);

    }
    .shop-link:hover .shop-hover {
        height: 100%;
    }

    .shop-link:hover .shop-txt {
        letter-spacing: 3px;
    }
    .shop-link:hover .shop-txt:before  {
        bottom: 30px;
        opacity: 1;
    }
		
	.address__link:hover:after {
		width: 100%;
	}

}