@media print {

    .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .hide-print,
    .title:before,
    .text:after,
	.twitter-link:before {
        display: none;
    }
	
    .page-break {
        page-break-before: always;
    }
	
	.menu li:not(.logo-block){
        visibility: hidden;
    }
	
	.logo-block,
	.addres	{		
        padding-bottom: 30px;
	}
	
    .header {
        height: auto;
        background-image: none!important;
        background-color: #ece8e8;
    }

    .title,
	.addres	{
        padding-top: 30px;
    }
	
	.addres {
		text-align: center;
	}

}