@media screen and (min-width: 768px) {	

	.menu li a:hover {
		background-color: #fc7d7d;
		color: #fff;
	}

	.close-btn:hover {
		color: whitesmoke;
	}

	.button-message:not(:disabled):not(.loading):hover {
		color: #000000;
	}
	
	.button-map:hover {
		color: #000;
	}
}